/*Main top*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.header {
    background-image: url('./img/heder.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: ;
    height: 100vh;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 5px;
}
.menu {
display: flex;
color: #fff;
font-size: 24px;
gap: 2px;
list-style: none;
}
.item {
<<<<<<< HEAD
    padding: 15px 1px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
.item:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.item>span{
    padding: 15px 20px;
    border-bottom: 2px solid transparent;
}
.item:hover>span {
    border-bottom: 2px solid rgb(255, 255, 255);
}
/*Main middle*/
.content{
    width: 1126px;
    height: auto;
    margin: 40px auto;
}

.title{
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    color: #FFFFFF;
}

.search{
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    background-color: #ffffff36;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 12px 8px;
    color: #FFFFFF;
}

.check {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 8px;
    width: 147px;
    height: 44px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 8px;
    width: fill 147px;
    height: 44px;
}

.search-icon{
    width: 20px;
    height: 20px;
    margin-left: 24px;
}

.search>input{
    width: 378px;
    height: 44px;
    color: #FFFFFF;
    padding: 8px;
    background: transparent;
    border: none;
}

.search>button{
    width: 147px;
    height: 42px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 32px;
    font-size: 16px;
    color:#2659C3;
    font-weight: auto;
    padding: 12px 32px;
    gap: 8px;
}

.search>input::placeholder{
    opacity: .5;
    color: white;
}

*:focus{
    outline: none;
}

.search>button:hover{
    background-color: #FFFFFF;
    transition: all .2s ease-out;
}

/*Main bot*/

.dropbtn {
    background-color: #ffffff36;
    color: #ffffff36;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #ffffff36;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffffff36;}

.input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}


/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #ffffff36;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/*
.categories {

}
*/
=======
padding: 12px 35px;
font-weight: bold;
/* border-bottom: 2px solid transparent; */
}
/* .item:hover{
    /* border-bottom: 2px solid #ffffff; */
/* } */ 
.item>span{
    padding: 8px;
    border-bottom: 2px solid transparent;
}
.item:hover>span{
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}
.content{
    width: 1024px;
    height: auto;
    margin: 40px auto;
}
.title{
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 99.1397px;
    line-height: 114px;

    color: #FFFFFF;
}
.search{
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 60px;
    background-color: #ffffff36;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
}
>>>>>>> 8ab786d95abf1da6a3c6ce87a79663df0b79195a
